{% extends 'base.html' %}
{% load tailwind_filters %}

{% block content %}
<div class="max-w-lg mx-auto">
    <a class="hover:text-blue-500" href="{% url 'leads:lead-list' %}">Go back to leads</a>
    <hr/>
    <h1 class="text-4xl text-gray-700 mt-3 mb-3">Assign an agent to the lead</h1>

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="w-full bg-blue-500 hover:bg-blue-600 px-3 py-1 rounded text-white mb-3" type="submit">Assign
        </button>
    </form>
</div>
{% endblock content %}

